$color-black:black;
$color-lime: lime;
$color-brown: rgb(92, 54, 29);
$color-darkorange:darkorange;
$color-darkred:darkred;
$color-dodgerblue:dodgerblue;
$color-cadetblue:cadetblue;
$color-chartreuse:chartreuse;
$color-darkgreen:darkgreen;

$layout-left:20px;
$layout-top:10px;
$layout-width:640px;
$layout-height:580px;

$tree-nest-left:120px;